site_name: Simple Banking System
theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - content.code.copy
nav:
  - API: http://10.0.40.191:8080/swagger-ui/index.html
  - Accounts: http://10.0.40.194:1911/
markdown_extensions:
  - admonition
  - toc:
      permalink: true
plugins:
  - search
