site_name: Simple Banking System
theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - content.code.copy
nav:
  - Overview: index.md
  - API:
      - Accounts: api/accounts.md
      - Transactions: api/transactions.md
markdown_extensions:
  - admonition
  - toc:
      permalink: true
plugins:
  - search
